*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Overpass", sans-serif;
}

:root{
    --dark-blue: #262E38;
    --light-gray: #969FAD;
    --medium-gray: #7C879B;
    --orange: #FC7614;
    --white: #fff;
    --very-dark-blue: #131518;
    --black-gradient: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
}

body{
    background-color: var(--very-dark-blue);
    height: 100svh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background: var(--black-gradient);
    max-width: 412px;
    text-align: center;
    padding: 45px 32px;
    border-radius: 30px;
}

.card img{
    margin-bottom: 32px;
}

.card .p_nota{
    background-color: var(--dark-blue);
    width: fit-content;
    margin-inline: auto;
    padding: 4px 18px;
    border-radius: 22px;

    font-size: 15px;
    color: var(--orange);

    margin-bottom: 32px;
}

.card h1{
    color: var(--white);
    font-size: 28px;
    margin-bottom: 15px;
}

.card p{
    color: var(--light-gray);
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 24px;
}

 